body {
    margin: 0 auto;
    background-color: white;
    color: black;
    
  }
  .dark-mode {
    background-color: black;
    color: rgb(243, 243, 243);
    border: white;
  }

header {
    height: 45px;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid black;
}
header h1 {
    float: left;
    margin: 0 auto;
}
#toggle {
    float: right;
    cursor: pointer;
    /*background: none;
    border: none;*/
}  
header i {

    font-size: 20px;
}

  

.container {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
#leftSide {
    background: linear-gradient(#000, #000) no-repeat right/2px 100%;
    width: 800px;
    height auto;
}

#leftSide h2 {
    text-align: center;
    margin: 20px;
    padding-right: 20px;
    height: 500px;
    width: 500px;
    background-color: rgb(175, 154, 12);
    border-radius: 400px;
    color: rgb(12, 13, 33);
    border: 2px solid black;
}
#rightSide {
    background: linear-gradient(#000, #000) no-repeat left/2px 100%;
    width: 950px;
    height: auto;
}
#rightSide h2 {
text-align: center;
margin: 0 auto;
padding: 25px;
width: 100%;
height: auto;
}
form {

}
#rightSide form label {
    
    padding: 20px;
    text-align: left;
}
#rightSide form input {
   width: 85%;
    margin: 10px 20px;
    display: block;
}

#content {
    height: 100px;
    width: 85%;
    margin: 10px 20px;
    display: block;
}
button {
    margin: 10px 20px;
}